<%- include layouts/header.ejs %>
        <div class="page-data">
            <form method="post" action="/demandas/edit/<%=data[0].id%>">
                1) Qual a Solução/Produto?<br>
                <%=data[0].solucaoproduto%><br><br>
                
                2) O que deve ser feito?<br>
                <%=data[0].oquefazer%><br><br>

                3) Para qual versão da Solução/Produto deve ser feito o desenvolvimento?<br>
                <%=data[0].versaoproduto%><br><br>

                4) Em qual base/servidor deve ser aplicado?<br>
                <%=data[0].baseservidor%><br><br>

                5) Qual prazo precisa ser atendido?<br>
                <%=data[0].prazo%><br><br>

                6) Qual o impacto deste deste desenvolvimento?<br>
                <%=data[0].impactodesenv%><br><br>

                7) É um desenvolvimento específico para algum cliente?<br>
                <%=data[0].clienteespecifico%><br><br>
                
                <input type="button" name="cancel" value="Voltar" class="cancel" onClick="cancelAddDemandas()">
            </form>
            
        </div>

        
        
<%- include layouts/footer.ejs %>
