<%- include layouts/header.ejs %>
        <div class="page-data">
            <form method="post" action="/demandas/gerar/<%=data[0].id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">
                        Qual a Solução/Produto?
                    </td>
                    <td> 
                        <%=data[0].solucaoproduto%>
                    </td>
                 </tr>


                 <tr>
                    <td class="label" valign="top">O que deve ser feito?</td>
                    <td valign="top">: 
                        <textarea name="oquefazer" required cols="30" rows="5"><%=data[0].oquefazer%></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">Para qual versão da Solução/Produto deve ser feito o desenvolvimento?</td><td>: <input type="text" value="<%=data[0].versaoproduto%>" name="versaoproduto" id="versaoproduto" required ></td>
                 </tr>
                <tr>
                    <td class="label">Em qual base/servidor deve ser aplicado?</td><td>: <input type="text" value="<%=data[0].baseservidor%>" name="baseservidor" id="baseservidor" required></td>
                 </tr>
                  <tr>
                    <td class="label">Qual prazo precisa ser atendido?</td><td>: <input type="text" name="prazo" value="<%=data[0].prazo%>" id="prazo" required></td>
                 </tr>
                 <tr>
                    <td class="label">Qual o impacto deste deste desenvolvimento?</td><td>: <input type="text" name="impactodesenv" value="<%=data[0].impactodesenv%>" id="impactodesenv" required></td>
                 </tr>
                 <tr>
                        <td class="label">É um desenvolvimento específico para algum cliente?</td>
                        <td>: 
                                <select id="clienteespecifico" name="clienteespecifico">
                                    <option value="">--Cliente--</option>
                                    <option value="Agemed">Agemed</option>
                                    <option value="Enforce">Enforce</option>
                                    <option value="Paraguai">Paraguai</option>
                                </select>
                                
                            </td>
                     </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Salvar">
                       <input type="button" name="cancel" value="Cancelar" class="cancel" onClick="cancelAddDemandas()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>

        
        
<%- include layouts/footer.ejs %>
